.robotAddModalWrapper {
  display: grid;
  padding: 4px 0;
  width: 100%;
}

.robotAddModalContainer {
  display: grid;
  grid-gap: var(--space-16);
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.robotAddModalNoResults {
  margin-top: 0;
}
